/* メイン */
.thumbnail_img {
    width: 320px;
    height: 180px;
    border-radius: 15px;
}

.thumbnail_img:hover{
    box-shadow: 0 0px 10px 0 rgba(54, 70, 122, 0.5);
}

.channel_img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: 10px;
}

.video_detail {
    margin-left: 10px;
    width: 285px;

}

.video_detail a {
    text-decoration: none;
    color: #333;
}

.video_detail small {
    color: #666;
}

/* カテゴリー選択時 */

.btn{
    color: #6c757d;
    border: 1px solid #6c757d;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.is_select_category, .btn:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}